@model Avbox.Models.AzureFileUploadViewModel

@Styles.Render("~/Content/dropzone.css")
@Styles.Render("~/Content/dzBasic.css")
@Styles.Render("~/Content/customDropzoneStyles.css")

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AzureFileUploadViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileName)
                @Html.ValidationMessageFor(model => model.FileName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Recipient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Recipient)
                @Html.ValidationMessageFor(model => model.Recipient)
            </div>
        </div>

        <div id="dzUpload" class="dropzone">
            <div class="dz-default dz-message"></div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

// Mock change
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/dropzone.js")
    @Scripts.Render("~/Scripts/customDropzoneBehavior.js")
}